{% extends 'base.html'%}
<!--inherits the base.html content-->

{% block head %}
<title>
	Posts
</title>
{% endblock %} {% block body %}
<div class="container mb-4">
    <br>

	<h2 class="mt-4 mb-4">Create New Blog Post</h2>
    <br>
	<form action="/posts" method="POST">
		<div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text">Title</span>
            </div>
			<input type="text" placeholder="Enter title..." class="form-control" id="title" name="title" />
        </div>

        <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text">Content</span>
            </div>
            <textarea placeholder="Enter content..." class="form-control" aria-label="With textarea" id="content" name="content"></textarea>
        </div>

        <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text">Author</span>
            </div>
			<input type="text" placeholder="Enter author..." class="form-control" id="author" name="author" />
        </div>

		<input type="submit" value="Post" class="btn btn-primary mb-4" />
	</form>

	<hr />

	<div class="display-4 mb-2">All Posts</div>
	{% for post in myPosts %}

	<div class="card mb-3">
		<div class="card-body">
			<h1 class="card-header mb-3 lead">Post: {{post.id}}</h1>

			<div class="card-body">
                <h2 class="mb-3 lead">Title: {{ post.title }}</h2>
				{% if post.author %}
				    <h2 class="mb-3 lead">By: {{ post.author }}</h2>
				{% else %}
				    <h2 class="mb-3 lead">By: Unknown</h2>
                {% endif %}
                
				<h2 class="mb-3 lead">Content: {{ post.content }}</h2>
			</div>

			<div class="card-footer">
				<button class="btn btn-danger btn-sm">
					<a href="/posts/delete/{{post.id}}" class="text-light">Delete</a>
				</button>
				<button class="btn btn-warning btn-sm">
					<a href="/posts/edit/{{post.id}}" class="text-light">Edit</a>
				</button>
			</div>
		</div>
	</div>

	{% endfor %}
</div>

{% endblock %}
